.nested-fields.mt-3
  = f.label "Select a benefit"
  = f.input_field :name, collection: Asana::Benefits
  %br
  %br
  = link_to_remove_association "Remove benefit", f, class: "btn btn-outline-danger btn-sm"
