.nested-fields.mt-3
  = f.label "Select a chakra"
  = f.input_field :name, collection: Asana::Chakras
  %br
  %br
  = link_to_remove_association "Remove chakra", f, class: "btn btn-outline-danger btn-sm"
