%h1 Asanas

= link_to "New asana", new_admins_asana_path
%br
%br

%table
  %tr
    %th{style: "border: 1px solid black;"} Sanskrit Name
    %th{style: "border: 1px solid black;"} Order
    %th
  - @asanas.each do |asana|
    %tr
      %td{style: "border: 1px solid black;"}= asana.sanskrit_name
      %td{style: "border: 1px solid black;"}= asana.asana_order
      %td{style: "border: 1px solid black;"}= link_to "Edit", edit_admins_asana_path(asana)





